@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Změna z min-height na height */
  overflow: hidden; /* Tohle je klíč – stránka jako taková se nehne */
  
  overscroll-behavior: none; 
  background-color: #f2f2f7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Pozadí pro tmavý režim, aby pod aplikací nebyla bílá tma */
.dark body {
  background-color: #000000;
}

::-webkit-scrollbar {
  display: none;
}